/* 
    @description: Filha de estilo da pagina de cursos
*/

/* Resetar margens e paddings */
*{
    margin: 0;
    padding: 0;
}

body, html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #e4e4e4;
    font-family: 'Open Sans', sans-serif;
}

/* Classes Padrões */
.collapsed{
    max-height: 65px !important;
    overflow: hidden;
}

.container{
    margin: auto;
    width: 65%;

}

/* ===== Container Principal ===== */
.main-page{
    box-sizing: border-box;
    width: 100% !important;
}

/* ===== Banner ===== */
.background{
    background-color: #000;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../misc/imgs/bg.jpeg");
    background-size: cover;
    background-position: top;
    border-bottom: 15px solid rgb(0, 153, 255);
    height: 300px;
}

.background span{
    font-size: 50px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 1px 2px 10px rgba(0, 0, 0, .8);
}

/* ===== Cursos ===== */
/* Container cursos */
.courses-container{
    box-sizing: border-box;
    padding: 10px;
}

.courses-container .course{
    margin-bottom: 20px;
}

.courses-container .course,
.courses-container .course .modules{
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
    /* border: 1px solid rgb(202, 202, 202); */
    transition: 500ms;
    padding: 1px 0;
}

.courses-container .course:hover{
    box-shadow: 0px 4px 3px rgba(0, 0, 0, .2);
}

.courses-container .course header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(202, 202, 202);
    padding: 20px;
}

.courses-container .course header:hover,
.courses-container .course .modules header:hover{
    cursor: pointer;
}

.courses-container .course header h1{
    font-weight: bold;
    color: #444444;
    font-size: 18px;
}

/* Container Modulos */
.courses-container .course .modules{
    /* box-shadow: 0px 0px 0px rgba(0, 0, 0, .5); */
    padding: 0;
    margin: 20px 10px;
    border-radius: 0;
}

.courses-container .course .modules header{
    padding: 20px !important;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.courses-container .course .modules .module-container ul{
    list-style: none;
    z-index: -1;
}

.courses-container .course .modules .module-container ul li a{
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(236, 236, 236);
    color: rgb(22, 22, 22);
    text-decoration: none;
    transition: 100ms;
    font-size: 14px;
}

.courses-container .course .modules .module-container ul li a:hover{
    background-color: rgb(77, 77, 77);
    color: #fff;
}

/* Media Queries */
@media (max-width: 1199.98px) { 
    .container{
        width: 80%;
    }

 }

@media (max-width: 991.98px) { 
    .container{
        width: 90%;
    }

    header span{
        font-size: 40px;
    }

 }

@media (max-width: 767.98px) { 
    .container{
        width: 100%;
    }


 }
 
@media (max-width: 575.98px) { 
    .container{

    }
    header span{
        font-size: 20px;
    }
 }