/* ========== Criando Animação ========== */
@keyframes logo-load{
  0%, 10%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes level-fadein{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes level-fadeout{
 0%{
   opacity: 1;
 }
 30%{
   /* top: 46%; */
 }
 100%{
   opacity: 0;
   top: 70%;
 }
}

@keyframes game-load {
  0%{
    width: 0%;
    height: 0%;
  }
  50%{
    width:1000px;
    height: 0px;

  }
  80%{
    background-color: rgba(255, 147, 0, 0);
  }
  100%{
    width: 1000px;
    height: 700px;
    background-color: rgba(255, 147, 0, 1);
  }
}

@keyframes game-fadein {
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }

}

@keyframes pulse {
  0%{
    font-size: 500px;
    color:rgba(255, 147, 0, 1);
    text-shadow: 0px 0px 0px rgba(255, 147, 0, 1);
  }
  100%{
    font-size: 800px;
    color:rgba(255, 147, 0, 0);
    text-shadow: 0px 0px 100px rgba(255, 147, 0, 0);
  }
}

/* ========== Aplicar Animação ========== */
#game-logo{
  animation: logo-load 4000ms ease-in-out;

}

#game-level{
  animation: level-fadein 2000ms ease-in-out 500ms forwards;

}


.pulse{
  animation: pulse 1000ms ease-in-out 0ms infinite;
  color: blue;
}



/* ========== Aplicar Transação ========== */
#game-level .btn-play:hover{
  text-shadow: 3px 2px 5px #373737;
  cursor: pointer;
 }
