

.placar{
  height: 500px;
  float: left;
}

.game{
  float: left;
  width: 600px;
  height: 500px;
  margin-left: 5px;
  background-image: url('../imgs/cenario.png');
  background-position: bottom;
}

#cronometro{
  color:red;
  font-size:30px;
}

.placarB{
  font-size: 40px;
}
