/*
  @author: Daniel Costa Munhoz
  @last-edit: 17/04/2018

 */

 /* ========= Configuração da Pagina ========= */

body,html{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Trebuchet MS';
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}


/* ========= Visual ========= */
.container{
  width: 80%;
  padding: 5px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header{
  padding: 5px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bebebe;
}

.header-title{
  padding: 30px 0;
  text-align: center;
  font-size: 30px;
  background-color: #222222 ;
  color: #FFF;
}

.content{
  padding: 5px 15px;
}

.content div{
  margin: 10px 0;
  padding: 5px;
}

.values .form{
  text-align: center;
}

.values .calc{
  float: right;
}

.values .form input,
.values .form select{
  width: 30%;
  display: inline;
}

.resp{
  text-align: center;
}

.disabled:hover{
  cursor: not-allowed;
}

input{
  width: 95%;
}

input, select{
  border: 1px solid #bebebe;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  outline: 0;
  transition: all 150ms;
}

.form-control:focus{

  box-shadow: 0px 0px 5px 3px #26CA5A;
  border: 1px solid #26CA5A;
}

.btn{
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #266ECA;
  border-radius: 10px;
  color:#266ECA;
  outline:0;
  font-size: 16px;

  transition:all 300ms;
}

.btn:hover{
background-color: #266ECA;
color:#FFF;
}

.error{
  border: 1px solid #FF5151;
  border-radius: 10px;
  width: 95%;
  margin: auto;
  font-size: 16px;
  padding: 5px;
  box-shadow: 0px 0px 5px 1px #FF5151;
  display: none;

  background-color: #FFD7D7;


}

.alert{
  box-shadow: 0px 0px 5px 1px #FF5151;
  border: 1px solid #FF5151;
}

/* ========= media ========= */
@media screen and (max-width: 575.98px){
  .container{
    width: 100%;
    padding: 0;
  }

  .form-control{
    width: 95% !important;
    margin: 5px 0;
  }
  .values .form input,
  .values .form select{

  }

  .calc{
    float: left;
  }

  .content{
    padding: 0;
    padding: 0;
  }

  .values{
    padding: 0;
    margin: 0;
  }

  .header{
    padding: 0;
  }
}
