body{
  background-color: orange;
}

.container{
  background-color: #FFF;
  height: 1000px;
}

.header-title{
  color: orange;
  text-align: center;
  margin: 5px 0;
  border-bottom: #bebebe;
  padding-bottom: 5px;:
}

.header-content .topicos .topico-titulo{
  color: #000;
  font-weight: 600;
}

.header-content .topicos li{
  margin: 10px 0;
}

.header-content .topicos .topico-desc{
  color: #3B3B3B;
}

.header-content .topicos ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-content .topicos ul li a{
  text-decoration: none;
}

.header-content .topicos ul li a:hover img{
  transform: scale(1.2);
}

.header-content .topicos ul li a img{
  width:52px;
  height: 52px;
  margin: 0px 5px;
}

.browsers{
  position: relative;
  /* background-color: red; */
  /* left: -50px; */
  text-align: center;
}

/* ======= Media ======== */
