  body{
                background-color: #29cb74;
                font-family: "Trebuchet MS";
            }

            h1, h2, h3, h4,h5,h6{
                margin: 0;
                padding: 0;
            }

            #main{
                width: 900px;
                background-color: #FFF;
                padding: 10px;
            }

            .html-tag{
                color: red;
            }

            .prop{
                color:green;
            }

            .value{
                color: orange;
            }
